// @import 'vendor-prefixes';

/** EDS V2 COLORS **/

// EDS Core Colors
$eds-blue:          #426DA9;
$eds-blue-dark:     #1D4F91;
$reserved:          #EDF4FA;
$eds-magenta:       #E63888;
$eds-purple:        #6D2077;

// EDS Core Greys
$eds-black:         #333;
$eds-gray-darker:   #888;
$eds-gray-dark:     #DCDCDC;
$eds-gray:          #F6F6F6;
$eds-white:         #FFF;

// EDS State Colors
$eds-error:         #CD0026;
$eds-error-light:   #FFDCE2;
$eds-warning:       #AD5700;
$eds-warning-light: #FCEEBA;
$eds-success:       #007A3B;
$eds-success-light: #CDF4D2;
$eds-info:          #426DA9;
$eds-info-light:    #D2E8F9;

// EDS Miscellaneous
$eds-orange:        #FF8F1C;
$eds-yellow:        #FEDB00;
$eds-lime:          #B7BF10;
$eds-green:         #009F4D;
$eds-teal:          #00b2a9;
$eds-sapphire:      #0081A6;
$eds-raspberry:     #AF1685;

// EDS Gradient
%eds-gradient {
    // @include horzBackgroundGradient($eds-raspberry, 1, $eds-blue-dark, 1);
};

/** ORIGINAL COLORS **/

// General
$expWhite: #FFF;
$expBlack: #000;
$expBlue: #0E6EB7;
$expPink: #D82B80;
$expDarkGrey: #333;
$expOffWhite: #F6F6F6;
$expLightGrey: #DCDCDC;
$expGrey: #888;
$expDarkMediumGrey: #AAA;
$expLightMediumGrey: #ECECEC;
$expMediumGrey: #CCC;
$expPurple: #72217B;
$expDarkBlue: #004590;
$expLightBlue: #C4E5FF;
$expSlateBlue: #EDF4FA;

// Misc
$expMiscPurple: #B12384;
$expMiscRed: #DB0048;
$expMiscOrange: #F6A323;
$expMiscYellow: #FFE800;

// Alerts
$expAlertLabelGrey: #373737;
$expAlertBgGrey: #E6E6E6;
$expAlertLabelRed: #D1061F;
$expAlertBgRed: #FFCCD2;
$expAlertLabelOrange: #B25B00;
$expAlertBgOrange: #FFEDB2;
$expAlertLabelGreen: #477A0C;
$expAlertBgGreen: #CFF0AC;

// Gradient
%expGradient {
    // @include horzBackgroundGradient($expMiscPurple, 1, $expDarkBlue, 1);
};