<nav class="nav flex-column">
  <a class="nav-link" href="alerts.html">Alerts</a>
  <a class="nav-link" href="badge.html">Badges</a>
  <a class="nav-link" href="breadcrumb.html">Breadcrumb</a>
  <a class="nav-link" href="button-group.html">Button Group</a>
  <a class="nav-link" href="buttons.html">Buttons</a>
  <a class="nav-link" href="card.html">Cards</a>
  <a class="nav-link" href="dropdowns.html">Dropdowns</a>
  <a class="nav-link" href="forms.html">Forms</a>
  <a class="nav-link" href="list-group.html">List group</a>
  <a class="nav-link" href="modal.html">Modals</a>
  <a class="nav-link" href="navbar.html">Navbar</a>
  <a class="nav-link" href="navs.html">Navs</a>
  <a class="nav-link" href="pagination.html">Pagination</a>
  <a class="nav-link" href="tables.html">Tables</a>
  <a class="nav-link" href="toasts.html">Toasts</a>
  <a class="nav-link" href="typography.html">Typography</a>
</nav>