<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        
        <title>Experian Stlyes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png"> 
        
        <!-- Place favicon.ico in the root directory -->

        <meta name="theme-color" content="#fafafa">
    </head>

    <body>
        <main role="main">

            <div class="row m-4">
                <aside class="col-lg-2">
                    {% include './_navbar.njk' %}
                </aside>

                <div class="col-lg-10">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </main>
        <script src="./bundle.js"></script>
    </body>
</html>
