{% extends "../templates/layout.njk" %}
{% set title="froms" %}

{% block content %}
    <h2 class="form-header">Form Section Header is h2.form-header</h2>
    <h5 class="form-header">Form Header is h5.form-header</h5>
    <div class="bg-line-art p-4">
        <p class="text-exp-red">Both headers have optional usage. Don't use <b>.form-header</b> with other heading sizes!!!</p>
        <p>Proper usage of form elements styling requires to follow markup: <b class="text-exp-purple">.form-row > <u>.exp-form-group</u> > input.form-control + label</b>.</p>
        <p><b class="text-exp-red">Placeholders should have space as a value.</b> Inputs should have IDs matching the labels.</p>
        <p>* Input type number are forced to render without spin buttons.</p>
    </div>
    <form>

        <div class="form-row mt-4">
            <div class="col-md-4">
                <div class="exp-form-group">    
                    <input id="textInputNoValue" type="text" class="form-control" placeholder=" " />
                    <label for="textInputNoValue">Text input</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="exp-form-group">    
                    <input id="numberInputNoValue" type="number" class="form-control" placeholder=" " />
                    <label for="numberInputNoValue">Number input *</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="exp-form-group">    
                    <input id="textInputWithValue" type="text" class="form-control" placeholder=" " value="Sample value" />
                    <label for="textInputWithValue">Prefilled text input</label>
                </div>
            </div>
        </div>

        
        <div class="form-row mt-4">
            <div class="col-md-4">
                <div class="exp-form-group">    
                    <input id="emailInputNoValue" type="email" class="form-control" placeholder=" " />
                    <label for="emailInputNoValue">Email input</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="exp-form-group">    
                    <input id="passwordInputNoValue" type="password" class="form-control" placeholder=" " autocomplete="off" />
                    <label for="passwordInputNoValue">Password input</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="exp-form-group is-invalid">    
                    <input id="emailInputInvalid" type="email" class="form-control" placeholder=" " value="Invalid value" />
                    <label for="emailInputInvalid">Invalid e-mail input</label>
                </div>
            </div>
        </div>

        <div class="form-row mt-4">
            <div class="col-12">
                <hr/>
            </div>
        </div>
        
        <div class="form-row mt-4">
            <div class="col-md-4">
                <div class="exp-form-group search">    
                    <input id="searchInputNoValue" type="search" class="form-control" placeholder=" " />
                    <label for="searchInputNoValue">Search input</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="exp-form-group clear">    
                    <input id="clearInputNoValue" type="text" class="form-control" placeholder=" " />
                    <label for="clearInputNoValue">Clear input with icon</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="exp-form-group is-valid">    
                    <input id="emailInputIsValid" type="email" class="form-control" placeholder=" " value="valid@value.here" />
                    <label for="emailInputIsValid">Valid e-mail input</label>
                </div>
            </div>
            
        </div>

    </form>
        

{% endblock %}
