{% extends "../templates/layout.njk" %}
{% set title="gradients" %}

{% set primaryColors = ['exp-dark-blue', 'exp-light-blue', 'exp-violet', 'exp-purple', 'exp-pink'] %}
{% set secondaryColors = ['exp-red', 'exp-orange', 'exp-yellow', 'exp-green', 'exp-sapphire', 'exp-dark-grey', 'exp-medium-grey', 'exp-light-grey', 'exp-white', 'exp-black'] %}

{% block content %}
    <div class="row">
        <div class="col-2 mt-4">
            
        </div>
    </div>
{% endblock %}
