{% extends "../templates/layout.njk" %}
{% set title="bgr" %}

{% set gradients = ['dark-light-blue', 'violet-purple', 'violet-pink','purple-pink','violet-blue','purple-blue','light-dark-blue','purple-violet','pink-violet','pink-purple','blue-violet','blue-purple'] %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="bg-line-art p-4">
                <h3 class="m-4">This element uses online graphic. Fix SCSS style when downloaded.</h3>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="bg-squircles-art p-4 border">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <h3 class="m-4">This element uses online graphics. Fix SCSS style when downloaded.</h3>
                <br/>
                <br/>
            </div>
        </div>
    </div>


{% endblock %}
