{% extends "../templates/layout.njk" %}

{% block content %}

    <p class="font-t">lorem ipsum 1</p>
    <p class="font-l">lorem ipsum</p>
    <p class="font-r">lorem ipsum</p>
    <p class="font-m">lorem ipsum</p>

{% endblock %}
