{% extends "../templates/layout.njk" %}
{% set title="typography" %}

{% set primaryColors = ['exp-dark-blue', 'exp-light-blue', 'exp-violet', 'exp-purple', 'exp-pink'] %}
{% set secondaryColors = ['exp-red', 'exp-orange', 'exp-yellow', 'exp-green', 'exp-sapphire', 'exp-dark-grey', 'exp-medium-grey', 'exp-light-grey', 'exp-white', 'exp-black'] %}

{% block content %}
    <div class="row mt-4">
        <div class="col-12">
            <p class="exp-font-t">Roboto Thin example uses <span class="text-exp-purple">.exp-font-t</span></p>
            <p class="exp-font-l">Roboto Light example uses <span class="text-exp-purple">.exp-font-l</span></p>
            <p class="exp-font-r">Roboto Regular example uses <span class="text-exp-purple">.exp-font-r</span></p>
            <p class="exp-font-m">Roboto Medium example uses <span class="text-exp-purple">.exp-font-m</span></p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <hr/>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h1>Experian H1 must be used in <span class="text-exp-purple">headline &amp; hero</span></h1>
            <h2>Experian H2 must be used in <span class="text-exp-purple">titles or section titles</span></h2>
            <h3>Experian H3 must be used in <span class="text-exp-purple">category header (topics/bucket title), sub headline for H1</span></h3>
            <h4>Experian H4 must be used in <span class="text-exp-purple">subhead for H2</span></h4>
            <h5>Experian H5 must be used in <span class="text-exp-purple">subcategory header (article titles)</span></h5>
            <h6>Experian H6 must be used in <span class="text-exp-purple">subhead for H3</span></h6>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <hr/>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <blockquote>
                Grumpy wizards make toxic brew for the evil Queen and Jack. One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. One morning, when Gregor.
            </blockquote>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <hr/>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <p>This is an example of Experian P text in Primary Palette - 
                {% for color in primaryColors %}
                    <span class="text-{{ color }} d-inline">(text-{{ color }})</span> 
                {% endfor %}
            </p>
            <p>Check out this <a href="#">super-duper coolest link</a> on hover.</p>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-12">
            <hr/>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <p>List Style <span class="text-exp-purple">.exp-static</span></p>
            <ul class="exp-static">
                {% for num in range(1, 6) %}
                    <li>List item #{{ num }}</li> 
                {% endfor %}
            </ul>
        </div>
        <div class="col-4">
            <p>List Style <span class="text-exp-purple">.exp-static</span> with links</p>
            <ul class="exp-static">
                {% for num in range(1, 6) %}
                    <li><a href="#">List item #{{ num }}</a></li> 
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <hr/>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <p>List Style <span class="text-exp-purple">.exp-links</span></p>
            <ul class="exp-links">
                {% for num in range(1, 6) %}
                    <li>
                        List item #{{ num }} with super long label... longer than this... even longer
                        <ul>
                            {% for sub in range(1, 4) %}
                                <li>Sub item list #{{ num }}.{{ sub }}</li>
                            {% endfor %}
                        </ul>
                    </li> 
                {% endfor %}
            </ul>
        </div>
        
    </div>
    
{% endblock %}
